<div class="mx-auto shadow-sm navbar bg-base-100 max-w-7xl">
  <div class="flex-1">
    <a class="text-xl btn btn-ghost">Queezbud</a>
  </div>
  <div class="flex-none">
    <ul class="px-1 menu menu-horizontal">
      <li><a routerLink="/dashboard/profile">Profile</a></li>
      <li>
        <details>
          <summary>Quizzes</summary>
          <ul class="p-2 rounded-t-none bg-base-100 min-w-20">
            <li><a routerLink="/dashboard/quiz/list">List</a></li>
            <li><a routerLink="/dashboard/quiz/create">New</a></li>
          </ul>
        </details>
      </li>


    </ul>
    <label class="-mt-0.5 toggle text-base-content">
      <input type="checkbox" value="dark" class="theme-controller" />

      <svg aria-label="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
          <circle cx="12" cy="12" r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </g>
      </svg>

      <svg aria-label="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </g>
      </svg>

    </label>
  </div>
</div>
<div class="p-0 pt-0 mx-auto max-w-7xl">
  <router-outlet></router-outlet>
</div>