 <div class="quizz-container">      
      <div class="content">
        <mat-card class="quiz-card">
          <mat-card-header>
            <mat-card-title>Available Quizzes</mat-card-title>
            <mat-card-subtitle>Select a quiz to begin</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon>assignment</mat-icon>
                <div matListItemTitle>General Knowledge Quiz</div>
                <div matListItemLine>10 questions - 15 minutes</div>
                <button mat-stroked-button color="primary">Start</button>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon>assignment</mat-icon>
                <div matListItemTitle>Science Quiz</div>
                <div matListItemLine>15 questions - 20 minutes</div>
                <button mat-stroked-button color="primary">Start</button>
              </mat-list-item> 
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon>assignment</mat-icon>
                <div matListItemTitle>History Quiz</div>
                <div matListItemLine>12 questions - 18 minutes</div>
                <button mat-stroked-button color="primary">Start</button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>